header{
    height: 25vh;
}
#icon-half-menu {
    display: none;
}
.options{
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 1.7rem;
    justify-content: center;
}
.options a:hover{
    color: var(--dark-red);
}

.phrase{
    width: 20vw;
    font-weight: 600;
    font-size: 3.5rem;
}
.comunity{
    height: 55vh;
}
footer{
    display: flex;
    height: 5vh;
    width: 100%;
    color: var(--dark-grey);
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}