
.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--light-grey);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

#icon-half-menu {
    font-size: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 2.5rem;
    color: var(--dark-grey);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--light-red);
    transition: all 0.25s;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 36px;
}
